{{define "defaite"}}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Defaite</title>
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/victory.css">
</head>
<body>
<div class="typewriter-container">
    <div class="typewriter">
        <p id="Defaite">DEFAITE</p>
        <p>Tu n'a pas été à la hauteur <br><br> Essaye encore de formé une équipe de Spiders afin de reussir à combattre l'ennemi !   !</p>
    </div>
</div>
</body>
</html>
{{end}}