{{define "level"}}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Hangman</title>
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <link rel="stylesheet" href="/static/asset/game.css">
</head>
<body>
    <div class="title">
        <h1>
          Welcome to Spider-Society
        </h1>
    </div>

<header>
    <div class="info">
        <p>{{.Hiddenword}}</p>
        <p>{{.Listletter}}</p>
        <p>{{.Leftpv}}</p>
        <p>{{.MesUser}}</p>
    </div>
       
    </div>
</header>
<body>
    <div>
        <img src="/static/image/pendu{{.Leftpv}}.jpg" alt="image de miles pendu" width="500" height="500">
    </div>
    <form action="/game/treatment" method="post">
        <input type="text" name="value" placeholder="indiquer une letter" required>
        <button>Valider</button>
    </form>
</body>     
</html>
{{end}}