{{define "home"}}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/home.css">
    </head>
    <body>

    <div class="typewriter-container">
        <div class="typewriter">
    <p>
        Bienvenue dans Spider-Hangman, le jeu captivant où chaque niveau remporte un Spider-Man. <br>
        Miles Morales, notre premier héros, est en difficulté face à l'ennemi coriace nommée The Spot ! <br>
        Chaque Spider-Man que vous gagnez devient un allié essentiel dans sa lutte multidimensionnelle. <br>
        Assemblez l'équipe ultime de Spider-Men pour affronter le chaos interdimensionnel. <br>
        Êtes-vous prêt à relever le défi et à sauver l'univers, mot par mot ? <br>
        La toile n'attend que vous !
    </p>
        </div>
    </div>

    <a href="http://localhost:8080/choice">
        <button id="btnS">SUIVANT</button>
    </a>

    </body>
</html>
{{end}}
