*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    padding: 16px;
}

.f-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif{
    background-image: url(/static/image/fondmenu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    width: fit-content;
    display: flex;
    justify-content: center;
    color: white;
    border: 3px solid;
    border-color: blue;
    background-image: url(/static/image/logo1.jpg);
    border-radius: 20px 0 20px 0;
    align-items: center;
    padding: 10px 20px;
}

.text{
    color: white;
    display: flex;
    justify-content: center;
}

input[type="radio"]{

}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ligne{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.enca{
    border: 6px solid black;
    width: 30%;
    color: white;
}

.lastligne{
    display: flex;
    justify-content: space-evenly;
}

.form{
    width: 100%;
}

.bouton{
    display: flex;
    justify-content: center;
}